.weather-container {
  width: 100%;
  height: 30%;
  padding: 20px 50px 0 50px;
    border-radius: 0 0 20px 20px;
}
.day{
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
.night{
    color: #fff;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
.temperature{
    margin-right: 10px;
}
.current-temperature {
  font-size: 30px;
  font-weight: 600;
}
.temperature-min-max {
  font-size: 18px;
  font-weight: 400;
}
.location {
  display: flex;
    align-items: center;
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 700;
}
.weather-info{
    display: flex;
    align-items: center;
}
.weather-status{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    margin-right: 80px;
    margin-left: 50px;
}
.weather-main{
margin-right: 80px;
}